html
{
  padding: 0;
}
.content
{
  clear: left;
}

.operations_options
{
  margin-top: 2.5px;
  margin-bottom: 2.5px
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1100; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.crud
{
  width:110%;
  min-width: 20px;
  max-width: 140px;
  text-align: center;
}

@media (max-width: 340px){
  .crud{font-size:10.5px !important;}
  .form_details{padding-top: 65% !important;}
  .resizables{font-size: 15px;}
  h3{font-size: 15px !important;}
}

@media (min-width: 341px) and (max-width: 369px){
  .crud{font-size:10.5px !important;}
  .form_details{padding-top: 63% !important;}
  .resizables{font-size: 15px;}
  h3{font-size: 16px !important;}
}

@media (min-width: 370px) and (max-width: 399px){
  .crud{font-size:10.5px !important;}
  .form_details{padding-top: 57% !important;}
  .resizables{font-size: 15px;}
  h3{font-size: 17px !important;}
}

@media (min-width: 400px) and (max-width: 449px){
  .crud{font-size:10.5px !important;}
  .form_details{padding-top: 50% !important;}
  .resizables{font-size: 15px;}
  h3{font-size: 18px !important;}
  h3{font-size: 21px !important;}
}

@media (min-width: 450px) and (max-width: 480px){
  .crud{font-size:10.5px !important;}
  .form_details{padding-top: 50% !important;}
  .resizables{font-size: 16px;}
  h3{font-size: 22px !important;}
}

@media (min-width: 481px) and (max-width: 540px){
  .crud{font-size:10.5px !important;}
  .form_details{padding-top: 44% !important;}
  .resizables{font-size: 16px;}
  h3{font-size: 23px !important;}
}

@media (min-width: 541px) and (max-width: 600px){
  .crud{font-size:10.5px !important;}
  .form_details{padding-top: 40%;}
  .resizables{font-size: 16px;}
  h3{font-size: 24px !important;}
}

@media (min-width: 600px) and (max-width: 650px){
  .crud{font-size:11px !important;}
  .form_details{padding-top: 35.5%;}
  .resizables{font-size: 16px;}
  h3{font-size: 25px !important;}
}

@media (min-width: 651px) and (max-width: 700px){
  .crud{font-size:11.5px !important;}
  .form_details{padding-top: 33.5%;}
  .resizables{font-size: 17px;}
  h3{font-size: 26px !important;}
}

@media (min-width: 701px) and (max-width: 750px){
  .crud{font-size:12px !important;}
  .form_details{padding-top: 32.5%;}
  .resizables{font-size: 17px;}
  h3{font-size: 27px !important;}
}

@media (min-width: 751px) and (max-width: 800px){
  .crud{font-size:12.5px !important;}
  .form_details{padding-top: 31%;}
  .resizables{font-size: 17px;}
  h3{font-size: 28px !important;}
}
@media (min-width: 801px) and (max-width: 850px){
  .crud{font-size:13px !important;}
  .form_details{padding-top: 28.5%;}
  .resizables{font-size: 17px;}
  h3{font-size: 29px !important;}
}
@media (min-width: 851px) and (max-width: 900px){
  .crud{font-size:13.5px !important;}
  .form_details{padding-top: 27.5%;}
  .resizables{font-size: 18px;}
  h3{font-size: 30px !important;}
}
@media (min-width: 901px) and (max-width: 950px){
  .crud{font-size:14px !important;}
  .form_details{padding-top: 27%;}
  .resizables{font-size: 18px;}
  h3{font-size: 31px !important;}
}
@media (min-width: 951px) and (max-width: 1000px){
  .crud{font-size:16.5px !important;}
  .form_details{padding-top: 27%;}
  .resizables{font-size: 18px;}
  h3{font-size: 32px !important;}
}
@media (min-width: 1001px) and (max-width: 1050px){
  .crud{font-size:17px !important;}
  .form_details{padding-top: 26%;}
  .resizables{font-size: 18px;}
  h3{font-size: 33px !important;}
}
@media (min-width: 1051px) and (max-width: 1100px){
  .crud{font-size:17px !important;}
  .form_details{padding-top: 25%;}
  .resizables{font-size: 19px;}
  h3{font-size: 34px !important;}
}
@media (min-width: 1101px) and (max-width: 1200px){
  .crud{font-size:17.5px !important;}
  .form_details{padding-top: 24%;}
  .resizables{font-size: 19px;}
  h3{font-size: 35px !important;}
}
@media (min-width: 1201px) and (max-width: 1250px){
  .crud{font-size:17.5px !important;}
  .form_details{padding-top: 23%;}
  .resizables{font-size: 19px;}
  h3{font-size: 36px !important;}
}
@media (min-width: 1251px) and (max-width: 1300px){
  .crud{font-size:17.5px !important;}
  .form_details{padding-top: 22%;}
  .resizables{font-size: 19px;}
  h3{font-size: 37px !important;}
}
@media (min-width: 1301px) and (max-width: 1350px){
  .crud{font-size:17.5px !important;}
  .form_details{padding-top: 21%;}
  .resizables{font-size: 20px;}
  h3{font-size: 38px !important;}
}
@media (min-width: 1351px){
  .crud{font-size:18px !important;}
  .form_details{padding-top: 22%;}
  .resizables{font-size: 21px;}
  .links{font-size: 22px !important;}
  h3{font-size: 40px !important;}
}
